:root {
  --mid-grey: #aaa;
  --light-grey: #ddd;
}

body {
  margin: 30px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

#search {
  padding: 4px 8px;
  width: calc(15rem - 16px);
  border: 1px solid var(--mid-grey);
}

#autocomplete {
  display: block;
  margin: 0;
  border: 1px solid var(--mid-grey);
  height: fit-content;
  width: 15rem;
}

#autocomplete.hide {
  display: none;
  height: 0;
}

#autocomplete, #search {
  line-height: 1.5;
}

#autocomplete > ul {
  margin: 0;
  padding: 0;
  max-height: 150px;
  overflow-y: auto;
}

#autocomplete > ul > li:not(:last-child) {
  border-bottom: 1px solid var(--light-grey);
} 

#autocomplete > ul > li {
  padding: 4px 8px;
  cursor: pointer;
  list-style: none;
} 

#autocomplete > ul > li:hover,
#autocomplete > ul > li:focus {
  background-color: #f0f0f0;
} 